body,
body > div,
body > div > div {
  /*background: #EAEBED;*/
}

.bg-white {
  background: white;
}

form button[type=submit] {
  text-transform: uppercase;
}

header {
  height: 520px;
  background: #f87e47 url('../imgs/top1.jpg') no-repeat center;
}

.wrapper {
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;
}

ul.menu {
  height: 60px;
  background: white;
  width: 460px;
  padding: 0;
  border-radius: 4px;
  margin-top: 20px;
}

ul.menu li {
  width: 33.3%;
  padding: 0;
  text-align: center;
}

ul.menu li a {
  line-height: 60px;
  padding: 0;
  font-weight: 700;
  color: #3b3b3b;
  text-decoration: none;
  font-size: 14px;
}

.order-form {
  width: 300px;
  padding: 40px;
  margin-top: 60px;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.5);
}

.order-form h4 {
  text-transform: uppercase;
  font-size: 15.2px;
}

.order-form h4 big {
  font-size: 27.2px;
}

.order-form .email-input {
  border: #f87e47 solid 2px;
  border-radius: 4px;
  background: transparent;
  color: #a3a199;
}

.order-form .order-button {
  background: #f87e47;
  color: white;
  border-radius: 4px;
  line-height: 80px;
  font-size: 30px;
  margin-bottom: 40px;
}

.circle {
  height: 100px;
  width: 100px;
  border: 1px solid;
  border-radius: 50px;
}

.items-row h3 {
  margin: 20px 0;
}

.item {
  padding: 0 5px;
  color: #333;
}

.item a {
  text-decoration: none;
  color: #333;
}

.item .item-image-container {
  height: 100px;
  overflow-x: hidden;
  text-align: center;
}

.item .item-image {
  height: 100%;
}

.item .name {
  text-align: center;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item .description {
  height: 51px;
  font-size: 12px;
}

.section-map {
  position: relative;
}

.section-where {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 230px;
  width: 285px;
  /*background: #F87E47;*/
  /*opacity: 0.92;*/
  background-color: #ffffff;
}