<!DOCTYPE html>
<html ng-app="certApp" lang="en">
<head>
    <meta charset="utf-8">
    <title></title>

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="css/main.css"/>

    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/lodash/dist/lodash.compat.js"></script>
    <script src="bower_components/restangular/dist/restangular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="js/app.js"></script>
</head>
<body>

<header class="navbar navbar-static-top">
    <div class="wrapper">

        <!--LOGO & MENU-->
        <div class="navbar-header">
            <a class="navbar-brand" href="#/">
                <!--Логотип-->
            </a>
        </div>
        <nav class="collapse navbar-collapse">
            <ul class="menu nav navbar-nav navbar-right">
                <li>
                    <a href="#/#how-work">
                        <span>Как это работает</span>
                    </a>
                </li>
                <li>
                    <a href="#/#how-use">
                        <span>Как использовать</span>
                    </a>
                </li>
                <li>
                    <a href="#/#how-get">
                        <span>Как получить</span>
                    </a>
                </li>
            </ul>
        </nav>

        <!--TOP FORM-->
        <div class="clearfix" ng-controller="CertOrderCtrl">
            <div class="order-form">
                <h4 class="text-center"><big>Хочу заказать</big> подарочный сертификат</h4>

                <form class="form-horizontal" name="form_order_1" ng-submit="sendCertOrder()">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="email" class="form-control email-input" placeholder="Ваш адрес эл. почты"
                                   ng-model="cert_order_form.email" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <button type="submit" class="order-button btn col-sm-12">ЗАКАЗАТЬ</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</header>

<div class="wrapper">

    <!--HOW WORK-->
    <a name="how-work"></a>

    <div class="clearfix">
        <h3 class="block_header">Как это работает? Проще простого!</h3>

        <div class="col-sm-4">
            <div class="circle">1</div>
            <h6 class="sub_header">Заказ сертификата</h6>
            <hr>
            <div class="block_description">
                <!--Для этого Вы должны оставить электронный адрес (в левом верхнем углу, в поле-->
                <!--"Ваш адрес электронной-->
                <!--почты") и нажать кнопку "ЗАКАЗАТЬ". После этого мы свяжемся с Вами. В течение суток подарочный-->
                <!--сертификат будет у Вас.-->

                Для заказа <strong>универсального сертификата</strong>, Вам достаточно просто вписать свой email и
                нажать
                кнопку <strong>заказать</strong>. Мы свяжется с Вами и доставим сертификат в течении суток.
                <br/><br/>
                Теперь Вы точно пойдёте на торжество не с пустыми руками!
            </div>
        </div>
        <div class="col-sm-4">
            <div class="circle">2</div>
            <h6 class="sub_header">Подарок</h6>
            <hr>
            <div class="block_description">
                <!--Самый ответственный этап! Теперь, Наш подарочный сертификат Вы можете вручить-->
                <!--дорогим и любимым друзьям!-->

                Все дарят цветы, конфеты и деньги? Выделитесь из <span style="color: lightgray;">серой массы</span> и
                завоюйте внимание виновника торжества.
                Ваш подарок самый <strong>оригинальный</strong> и даёт возможность <strong>выбрать самое
                желанное</strong>.
                <br/><br/>
                Подарите универсальный сертификат. Подарите выбор!
            </div>
        </div>
        <div class="col-sm-4">
            <div class="circle">3</div>
            <h6 class="sub_header">Активация</h6>
            <hr>
            <div class="block_description">
                <!--Ваш друг в течение месяца может использовать свой сертификат на предложенные-->
                <!--Нами товары и услуги. Вам-->
                <!--больше не нужно ломать голову ЧТО? КОМУ? и КАК? дарить. Этот подарок будет нужным и индивидуальным, в-->
                <!--зависимости от желаний Вашего товарища.-->

                Получателю сертификата достаточно просто зайти на сайт и ввести уникальный код. Перед ним
                откроется выбор из множества <strong>полезных товаров</strong> и <strong>увлекательных
                приключений</strong>.
                <br/><br/>
                Получив подарок в руки, одаряемый ещё раз вспомнит Вас добрым словом.
            </div>
        </div>


    </div>

    <!--PRODUCTS & MEASURES-->
    <a name="how-use"></a>

    <div ui-view="content" ng-show="loaded"></div>

    <!--MAP-->
    <div class="col-sm-12 clearfix">
        <a name="how-get"></a>

        <h3 class="block_header">Где забрать?</h3>

        <div class="section-map">
            <script type="text/javascript" charset="utf-8"
                    src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=gRYMM_lROqH6ob69NuJ1apcRcwqwmjlZ&height=240"></script>
            <div class="section-pay">
                <h3 class="block_header">Как оплатить?</h3>
                <h4>1) Наличными в точках продаж</h4>
                <h4>2) В момент доставки курьером</h4>
                <h4 class="clearfix">
                    3) Прямо на сайте:
                    <div>
                        <img class="pay-method-icon" src="imgs/visa.png"/>
                        <img class="pay-method-icon" src="imgs/mastercard.jpg"/>
                        <img class="pay-method-icon" src="imgs/yandexmoney.jpg"/>
                    </div>
                </h4>
            </div>
        </div>
    </div>

    <!--BOTTOM FORM-->
    <div class="col-sm-12 clearfix" ng-controller="CertOrderCtrl">
        <form class="form-inline" name="form_order_1" ng-submit="sendCertOrder()">
            <div class="form-group">
                <label class="col-sm-4 header">Хочу заказать сертификат</label>

                <div class="col-sm-4">
                    <input type="email" class="form-control" placeholder="Введите свой email"
                           ng-model="cert_order_form.email" required/>
                </div>
                <button type="submit" class="order-button btn col-sm-4">ЗАКАЗАТЬ</button>
            </div>
        </form>
    </div>

    <div class="footer">© 2014 магазин дивных подарков "ДиДар". Все права защищены. Сайт создан <a
            href="http://umasterov.org">У мастеров</a></div>

</div>


<!-- BEGIN JIVOSITE CODE {literal} -->
<script type='text/javascript'>
    (function () {
        var widget_id = 'zlWB442Lox';
        var s = document.createElement('script');
        s.type = 'text/javascript';
        s.async = true;
        s.src = '//code.jivosite.com/script/widget/' + widget_id;
        var ss = document.getElementsByTagName('script')[0];
        ss.parentNode.insertBefore(s, ss);
    })();</script>
<!-- {/literal} END JIVOSITE CODE -->

</body>
</html>