<!DOCTYPE html>
<html ng-app="certApp" lang="en">
<head>
    <meta charset="utf-8">
    <title></title>

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="css/main.css"/>

    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/lodash/dist/lodash.compat.js"></script>
    <script src="bower_components/restangular/dist/restangular.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="js/app.js"></script>
</head>
<body>

<header class="navbar navbar-static-top">
    <div class="wrapper">

        <!--LOGO & MENU-->
        <div class="navbar-header">
            <a class="navbar-brand" href="#/">
                <!--Логотип-->
            </a>
        </div>
        <nav class="collapse navbar-collapse">
            <ul class="menu nav navbar-nav navbar-right">
                <li>
                    <a href="#/#how-work">
                        <span>Как это работает</span>
                    </a>
                </li>
                <li>
                    <a href="#/#how-use">
                        <span>Как использовать</span>
                    </a>
                </li>
                <li>
                    <a href="#/#how-get">
                        <span>Как получить</span>
                    </a>
                </li>
            </ul>
        </nav>

        <!--TOP FORM-->
        <div class="clearfix" ng-controller="CertOrderCtrl">
            <div class="order-form">
                <h4 class="text-center"><big>Хочу заказать</big> подарочный сертификат</h4>

                <form class="form-horizontal" name="form_order_1" ng-submit="sendCertOrder()">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="email" class="form-control email-input" placeholder="Ваш адрес эл. почты"
                                   ng-model="cert_order_form.email" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <button type="submit" class="order-button btn col-sm-12">ЗАКАЗАТЬ</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</header>

<div class="wrapper">

    <!--HOW WORK-->
    <a name="how-work"></a>

    <div class="clearfix">
        <h3 class="block_header">Как это работает? Проще простого!</h3>

        <div class="col-sm-4">
            <div class="circle">1</div>
            <h6 class="sub_header">Заказ сертификата</h6>
            <hr>
            <div class="block_description">
                <!--Для этого Вы должны оставить электронный адрес (в левом верхнем углу, в поле-->
                <!--"Ваш адрес электронной-->
                <!--почты") и нажать кнопку "ЗАКАЗАТЬ". После этого мы свяжемся с Вами. В течение суток подарочный-->
                <!--сертификат будет у Вас.-->

                Для заказа <strong>универсального сертификата</strong>, Вам достаточно просто вписать свой email и
                нажать
                кнопку <strong>заказать</strong>. Мы свяжется с Вами и доставим сертификат в течении суток.
                <br/><br/>
                Теперь Вы точно пойдёте на торжество не с пустыми руками!
            </div>
        </div>
        <div class="col-sm-4">
            <div class="circle">2</div>
            <h6 class="sub_header">Подарок</h6>
            <hr>
            <div class="block_description">
                <!--Самый ответственный этап! Теперь, Наш подарочный сертификат Вы можете вручить-->
                <!--дорогим и любимым друзьям!-->

                Все дарят цветы, конфеты и деньги? Выделитесь из <span style="color: lightgray;">серой массы</span> и
                завоюйте внимание виновника торжества.
                Ваш подарок самый <strong>оригинальный</strong> и даёт возможность <strong>выбрать самое
                желанное</strong>.
                <br/><br/>
                Подарите универсальный сертификат. Подарите выбор!
            </div>
        </div>
        <div class="col-sm-4">
            <div class="circle">3</div>
            <h6 class="sub_header">Активация</h6>
            <hr>
            <div class="block_description">
                <!--Ваш друг в течение месяца может использовать свой сертификат на предложенные-->
                <!--Нами товары и услуги. Вам-->
                <!--больше не нужно ломать голову ЧТО? КОМУ? и КАК? дарить. Этот подарок будет нужным и индивидуальным, в-->
                <!--зависимости от желаний Вашего товарища.-->

                Получателю сертификата достаточно просто зайти на сайт и ввести уникальный код. Перед ним
                откроется выбор из множества <strong>полезных товаров</strong> и <strong>увлекательных
                приключений</strong>.
                <br/><br/>
                Получив подарок в руки, одаряемый ещё раз вспомнит Вас добрым словом.
            </div>
        </div>


    </div>

    <!--PRODUCTS & MEASURES-->
    <a name="how-use"></a>

    <div ui-view="content" ng-show="loaded"></div>

    <!--MAP-->
    <div class="col-sm-12 clearfix">
        <a name="how-get"></a>

        <h3 class="block_header">Где забрать?</h3>

        <div class="section-map">
            <script type="text/javascript" charset="utf-8"
                    src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=gRYMM_lROqH6ob69NuJ1apcRcwqwmjlZ&height=240"></script>
            <div class="section-pay">
                <h3 class="block_header">Как оплатить?</h3>
                <h4>1) Наличными в точках продаж</h4>
                <h4>2) В момент доставки курьером</h4>
                <h4 class="clearfix">
                    3) Прямо на сайте:
                    <div>
                        <img class="pay-method-icon" src="imgs/visa.png"/>
                        <img class="pay-method-icon" src="imgs/mastercard.jpg"/>
                        <img class="pay-method-icon" src="imgs/yandexmoney.jpg"/>
                    </div>
                </h4>
            </div>
        </div>
    </div>

    <!--BOTTOM FORM-->
    <div class="col-sm-12 clearfix" ng-controller="CertOrderCtrl">
        <form class="form-inline" name="form_order_1" ng-submit="sendCertOrder()">
            <div class="form-group">
                <label class="col-sm-4 header">Хочу заказать сертификат</label>

                <div class="col-sm-4">
                    <input type="email" class="form-control" placeholder="Введите свой email"
                           ng-model="cert_order_form.email" required/>
                </div>
                <button type="submit" class="order-button btn col-sm-4">ЗАКАЗАТЬ</button>
            </div>
        </form>
    </div>

    <div class="footer">
        <a href ng-controller="ShowcaseCtrl" ng-click="open()">Политика конфиденциальности</a>
        <span>© 2014 магазин дивных подарков "ДиДар". Все права защищены. Сайт создан <a href="http://umasterov.org">У
            мастеров</a></span>
    </div>

    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Политика обработки персональных данных пользователей</h3>
        </div>
        <div class="modal-body">
            Настоящая Политика обработки персональной информации (далее – Политика) действует в отношении всей
            информации, которую Администрация ООО «Информационная группа 59» (далее – Администрация Сайта), могут
            получить о пользователе во время использования им любого из сайтов, сервисов, служб, программ и продуктов
            Сайта (далее – Сервисы). Согласие пользователя на предоставление персональной информации, данное им в
            соответствии с настоящей Политикой в рамках использования одного из Сервисов, распространяется на все
            Сервисы Сайта.
            Использование Сервисов Сайта означает безоговорочное согласие пользователя с настоящей Политикой и
            указанными в ней условиями обработки его персональной информации; в случае несогласия с этими условиями
            пользователь должен воздержаться от использования Сервисов Сайта.
            1. Персональная информация пользователей, которую получает и обрабатывает Администрация Сайта
            1.1. В рамках настоящей Политики под «персональной информацией пользователя» понимаются:
            1.1.1. Персональная информация, которую пользователь предоставляет о себе самостоятельно при подаче заявки
            на регистрацию или в процессе использования Сервисов Сайта, включая персональные данные пользователя.
            Обязательная для предоставления Сервисов Сайта информация помечена специальным образом (знаком «*» и
            предупреждением об обязательности предоставления информации). Иная информация предоставляется пользователем
            на его усмотрение.
            1.1.2. Данные, которые автоматически передаются Сервисам Сайта в процессе их использования с помощью
            установленного на устройстве пользователя программного обеспечения, в том числе IP-адрес, информация из
            cookie, информация о браузере пользователя (или иной программе, с помощью которой осуществляется доступ к
            Сервисам), время доступа, адрес запрашиваемой страницы.
            1.1.3. Иная информация о пользователе, сбор и/или предоставление которой необходимо для использования
            Сервисов.
            1.2. Настоящая Политика применима только к Сервисам Сайта. Администрация Сайта не контролирует и не несет
            ответственность за сайты третьих лиц, на которые пользователь может перейти по ссылкам, доступным на Сайте.
            На таких сайтах у пользователя может собираться или запрашиваться иная персональная информация, а также
            могут совершаться иные действия.
            1.3. Администрация Сайта не проверяет достоверность персональной информации, предоставляемой пользователями,
            и не осуществляет контроль за их дееспособностью. Однако Администрация Сайта исходит из того, что
            пользователь предоставляет достоверную и достаточную персональную информацию по вопросам, предлагаемым в
            форме регистрации, и поддерживает эту информацию в актуальном состоянии. Последствия предоставления
            недостоверной информации определены в Пользовательском соглашении.
            2. Цели сбора и обработки персональной информации пользователей
            2.1. Администрация Сайта собирает и хранит только те персональные данные, которые необходимы для оказания
            услуг пользователю.
            2.2. Персональная информация пользователя может использоваться в следующих целях:
            2.2.1. Идентификация стороны в рамках использования Сервисов Сайта;
            2.2.2. Предоставление пользователю персонализированных Сервисов;
            2.2.3. Связь с пользователем в случае необходимости, в том числе направление уведомлений, запросов и
            информации, связанных с использованием Сервисов, оказанием услуг, а также обработка запросов и заявок от
            пользователя;
            2.2.4. Улучшение качества Сервисов, удобства их использования, разработка новых Сервисов и услуг;
            2.2.5. Проведение статистических и иных исследований на основе обезличенных данных.
            3. Условия обработки персональной информации пользователя и её передачи третьим лицам
            3.1. Администрация Сайта хранит персональную информацию пользователей в соответствии с внутренним
            регламентом конкретных сервисов.
            3.2. В отношении персональной информации пользователя сохраняется ее конфиденциальность, кроме случаев
            добровольного предоставления пользователем информации о себе для общего доступа всем пользователям Сайта.
            При использовании отдельных Сервисов (например, Мой Профиль), пользователь соглашается с тем, что
            определённая часть его персональной информации становится общедоступной.
            3.3. Администрация Сайта вправе передать персональную информацию пользователя третьим лицам в следующих
            случаях:
            3.3.1. Пользователь явно выразил свое согласие на такие действия;
            3.3.2. Передача необходима в рамках использования пользователем определенного Сервиса либо для оказания
            услуги пользователю. При этом обеспечивается конфиденциальность персональной информации, а пользователь
            будет явным образом уведомлён о такой передаче;
            3.3.3. Передача предусмотрена российским или иным применимым законодательством в рамках установленной
            законодательством процедуры;
            3.3.4. Такая передача происходит в рамках продажи или иной передачи бизнеса (полностью или в части), при
            этом к приобретателю переходят все обязательства по соблюдению условий настоящей Политики применительно к
            полученной им персональной информации;
            3.3.5. В целях обеспечения возможности защиты прав и законных интересов Администрации Сайта или третьих лиц
            в случаях, когда пользователь нарушает Пользовательское соглашение.
            3.4. При обработке персональных данных пользователей Администрация Сайта руководствуется Федеральным законом
            РФ «О персональных данных».
            4. Изменение пользователем персональной информации
            4.1. Пользователь может в любой момент изменить (обновить, дополнить) предоставленную им персональную
            информацию или её часть, воспользовавшись функцией редактирования персональных данных в разделе «Паспорт»
            либо в персональном разделе соответствующего Сервиса.
            4.2. Пользователь также может удалить предоставленную им в рамках определенной учетной записи персональную
            информацию, воспользовавшись функцией «Удалить». При этом удаление аккаунта повлечет невозможность
            использования некоторых Сервисов Сайта.
            5. Меры, применяемые для защиты персональной информации пользователей
            Администрация Сайта принимает все необходимые меры для защиты любых персональных данных, предоставляемых
            пользователями. Доступ к персональным данным имеют только уполномоченные сотрудники Администрации Сайта,
            уполномоченные сотрудники сторонних компаний (т. е. поставщиков услуг) или наших деловых партнеров,
            подписавшие договор о конфиденциальности и защите персональных данных. Все сотрудники Администрации Сайта,
            имеющие доступ к персональным данным, должны придерживаться политики по обеспечению конфиденциальности и
            защиты персональных данных. В целях обеспечения конфиденциальности информации и защиты персональных данных
            Администрация Сайта поддерживает соответствующую ИТ-среду и принимает все меры, необходимые для
            предотвращения несанкционированного доступа (хакерства).
            6. Изменение Политики конфиденциальности. Применимое законодательство
            6.1. Администрация Сайта имеет право вносить изменения в настоящую Политику конфиденциальности. При внесении
            изменений в актуальной редакции указывается дата последнего обновления. Новая редакция Политики вступает в
            силу с момента ее размещения, если иное не предусмотрено новой редакцией Политики.
            6.2. К настоящей Политике и отношениям между пользователем и Администрацией Сайта, возникающим в связи с
            применением Политики обработке персональных данных, подлежит применению действующее законодательство
            Российской Федерации.
            7. Обратная связь. Вопросы и предложения
            Все предложения или вопросы по поводу настоящей Политики следует сообщать в Службу поддержки пользователей.
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
        </div>
    </script>

</div>

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function () {
            try {
                w.yaCounter27398882 = new Ya.Metrika({
                    id: 27398882,
                    webvisor: true,
                    clickmap: true,
                    trackLinks: true,
                    accurateTrackBounce: true
                });
            } catch (e) {
            }
        });

        var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () {
                    n.parentNode.insertBefore(s, n);
                };
        s.type = "text/javascript";
        s.async = true;
        s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else {
            f();
        }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript>
    <div><img src="//mc.yandex.ru/watch/27398882" style="position:absolute; left:-9999px;" alt=""/></div>
</noscript>
<!-- /Yandex.Metrika counter -->

<!-- BEGIN JIVOSITE CODE {literal} -->
<script type='text/javascript'>
    (function () {
        var widget_id = 'zlWB442Lox';
        var s = document.createElement('script');
        s.type = 'text/javascript';
        s.async = true;
        s.src = '//code.jivosite.com/script/widget/' + widget_id;
        var ss = document.getElementsByTagName('script')[0];
        ss.parentNode.insertBefore(s, ss);
    })();</script>
<!-- {/literal} END JIVOSITE CODE -->

</body>
</html>